<div class="text-neutral-100 dark:text-neutral-200 text-xs font-light bg-orange-600 dark:bg-gray-900 px-4 py-2 flex flex-col md:flex-row justify-center items-center gap-4 text-center">
  <div class="flex flex-wrap justify-center items-center gap-6">

    <span class="flex font-semibold items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-current" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75C2.25 16.5 7.5 21.75 17.25 21.75c.621 0 1.125-.504 1.125-1.125v-3.38a1.125 1.125 0 00-.977-1.116l-3.516-.586a1.125 1.125 0 00-1.183.65l-.805 1.876a13.875 13.875 0 01-6.26-6.26l1.876-.805a1.125 1.125 0 00.65-1.183l-.586-3.516A1.125 1.125 0 006.755 3H3.375C2.754 3 2.25 3.504 2.25 4.125v2.625z" />
      </svg>
      +36 70 368 7809
    </span>

    <a href="mailto:info@elviratuzep.hu" class="hidden md:flex items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-current" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25H4.5a2.25 2.25 0 01-2.25-2.25V6.75M21.75 6.75A2.25 2.25 0 0019.5 4.5H4.5A2.25 2.25 0 002.25 6.75M21.75 6.75l-9.75 6.75L2.25 6.75" />
      </svg>
      info@elviratuzep.hu
    </a>

    <a href="https://maps.app.goo.gl/h2iNFY7mzdPu6uVSA" target="_blank" class="flex font-semibold items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current" viewBox="0 0 24 24">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"/>
      </svg>
      2030 Érd, Elvira utca 33.
    </a>

  </div>
</div>
